<ion-header>
  <ion-toolbar>
    <ion-title>
      Denuncias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div padding>
    <ion-item>
      <br><ion-input [(ngModel)]="body" type="text" name="mensagem" placeholder="Escreva uma mensagem..."></ion-input>
    </ion-item>
  </div>
  <br>  
  <ion-item>
  <ion-button type="submit" (click)="getSimData()" (click)="enviar()" >Enviar</ion-button> <br>
  </ion-item>
  <ion-list *ngIf="simInfo">
      <ion-item  ><b>Código de país: </b> {{ simInfo.countryCode }}</ion-item>  
    </ion-list>
    <ion-card  *ngFor= "let card of cards" >
      <ion-card-header>
        {{card.carrierName}}
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item><b>Latitude: {{lat}} </b></ion-item>
          <ion-item><b>Longitude: {{lng}} </b></ion-item>
          <ion-item><b>IMEI: </b> {{ card.deviceId }} </ion-item>
          <ion-item><b>Operadora: </b> {{ card.displayName }}</ion-item> 
        </ion-list>
      </ion-card-content>
    </ion-card>

</ion-content>
